<div class="container mt-5">  
    <ul class="nav flex-column">
        <li class="nav-item dropdown">
            <button class="nav-link dropdown-toggle" href="#" role="button" (click)="toggleSubmenu('classe')">
                Classes
            </button>
            @if(isclassemenuVisible) {
              <div class="dropdown-menu">
                  <!-- Boucle dynamique pour générer les sous-menus -->
                  <div class="text-containers">
                      @for (classe of classes; track $index) {
                      <button routerLink="classes/{{classe.id}}" class="dropdown-item">{{classe.name}}</button>
                      }
                  </div>
    
              </div>
            }
        </li>
        <li class="nav-item dropdown">
            <button class="nav-link dropdown-toggle" href="#" role="button" (click)="toggleSubmenu('gemme')">
                Gemmes
            </button>
            @if(isgemmemenuVisible) {
              <div class="dropdown-menu">
                  <!-- Boucle dynamique pour générer les sous-menus -->
                  <div class="text-containers">
                      @for (gemme of gemmes; track $index) {
                      <button routerLink="gemme{{gemme.id}}" class="dropdown-item">{{gemme.name}}</button>
                      }
                  </div>
    
              </div>
            }
        </li>
        <li class="nav-item dropdown">
            <button class="nav-link dropdown-toggle" href="#" role="button" (click)="toggleSubmenu('equipement')">
                Equipement
            </button>
            @if(isequipementmenuVisible) {
              <div class="dropdown-menu">
                  <!-- Boucle dynamique pour générer les sous-menus -->
                  <div class="text-containers">
                      @for (classe of classes; track $index) {
                      <button routerLink="classes/{{classe.id}}" class="dropdown-item">{{classe.name}}</button>
                      }
                  </div>
    
              </div>
            }
        </li>
        <li class="nav-item dropdown">
            <button class="nav-link dropdown-toggle" href="#" role="button" (click)="toggleSubmenu('build')">
                Build
            </button>
            @if(isbuildmenuVisible) {
              <div class="dropdown-menu">
                  <!-- Boucle dynamique pour générer les sous-menus -->
                  <div class="text-containers">
                      @for (classe of classes; track $index) {
                      <button routerLink="classes/{{classe.id}}" class="dropdown-item">{{classe.name}}</button>
                      }
                  </div>
    
              </div>
            }
        </li>
    </ul>
  </div>