<H1 class="titre">Bienvenue sur POE 2 Builder</H1>
<main>

    <section class="paragraphe">
        <p>
            Ce site a était réaliser par moi afin d'apprendre a utiliser angular et différents outils qui vont avec.
            <br>
            Ce faisant j'ai décider de créer un builder pour Path Of Exile 2, comme le jeu est en early access certains
            élement ne seront peut être pas a jour dans l'avenir et d'autre sont manquant.
            <br>
            Ce builder permet de selectionner sa classe, ses points de passifs,son équipement modifieur inclus ainsi que ses différentes compétences avec leur gemme de soutients.
            
        </p>
    </section>

</main>